<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
<main id="site-main">
    <h1>need to be reincarnated</h1>
</main>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->